node_modules/
/settings.json
/archive/
/src/archive/
/backup/
*.map
uncaughtException.log
/build/cache/*
/.nexe/*
/nexetest
/tiddlywiki-*
*.exe
test.js
*.log
/tiddlywiki/plugins/danielo515
old-settings.json
newtree.xml
