node_modules/
/settings.json
/settings.ts
/settings.js
/settings-tree.xml
/settings-tree.ts
/settings-tree.js
/settings-https.ts
/settings-https.js
/archive/
/src/archive/
/backup/
*.map
uncaughtException.log
/build/cache/*
/.nexe/*
/nexetest
/tiddlywiki-*
*.exe
test.js
*.log
/tiddlywiki/plugins/danielo515
newtree.xml
src/_test.ts
src/_test.js
old-settings.json
/settings/*
/assets/authenticate/salts-backup.json
/assets/static/salts-backup.json
*.key
*.cer
.DS_Store
https.js
*.pem
settings-*.json
!settings-*.schema.json
lib/compiled-lib.js
build/
/backups/